/*Estilização usada em todos os elementos do site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fontes e contéudo horizontal sem barra lateral*/
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow-X: hidden; /*conteúdo horizontal não vai ter barra lateral*/
    width: 100vw;
    
}

/*Estilização e formatação do Cabeçalho do site*/
header {
    height: 100px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 1px 6px 0px black;
}
iframe {
    margin-left: 10px;
}
/* .shadow {
    box-shadow: 0px 1px 6px 0px black;
} */
#sobre {
    background-color: rgba(140, 193, 199,0.5);
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.sub-title {
    max-width: 771px;
    font-size: 15px;
}
#info-footer {
    color: #000;
}
/*Formatação da logo do cabeçalho*/
.logo {
    width: 100px;
    
}
.titulo {
   margin-right: 10px;
   color:#8CC1C7 ; 
   font-family: 'Times New Roman', Times, serif;
   font-size: 35px;
}
.logoimg {
    width: 100px;
    height: 100px;

    border-radius: 50px;
    background-image: url(../images/logo.png);
  
}

/*Estilização e formatação do menu*/
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
   
}
.menu ul,
.menu li {
    list-style:none;
}
.menu ul {
    display:flex;
}
.menu li a {
    color:#000;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    height:100px;
    display:flex;
    align-items:center;
    
}
.menu li a:hover,
.menu .active a {
    border-bottom:5px solid rgb(140, 193, 199);
    color:#000;
}

.menu-abrido {
    display: none;
}

/*Formatação e estilização do Banner e Slides*/
.banner {
    height: calc(100vh - 100px);
    /* background-color: rgba(51, 51, 51, 0.39); */
    background-image:url('../images/capa.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vw;
    height: 100%;
    
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.4);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
  
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
}
.banner h1 span {
    color: #8CC1C7;
}
.banner h1 {
    text-transform: uppercase;
    margin-top: 331px;
}
.button {
    display: inline-block;
    background-color: #8CC1C7;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 35px;
    font-weight: 600;
    
    border-radius: 25px;
}
.banner .sliders-point {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #8CC1C7;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #8CC1C7;
}
/*********************************************/
/*Botão Telefone*/
.icon {
    width: 100vw;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}
section .badge-ico {
    background-color: #8CC1C7;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
}
.badge-ico {
    position: relative;
    right: 40px;
    top: -30px;
}
.badge-ico img {
    height: 35px;
}

/*Criando um framework para formatar as seções do site, sem precisar utilizar repetição de código*/

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .sec-title, .default .sec-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .sec-title {
    font-size: 20px;
    
}
.default .sec-desc {
    font-size: 12px;
    color: #000;
    margin-top: 12px;
    margin-bottom: 40px;
}

.default .sec-body {
    max-width: 1140px;
    margin: auto;
}

/*Seção branca*/
.default.lite {
    background-color: #fff;
}
.default.lite .sec-title, .default.lite .sec-body {
    color: #000;
}

/*Seção Preta*/
.default.dark {
    background-color: #000;
}
.default.dark .sec-title, .default.dark .sec-body {
    color: #fff;
}

/**************************************************/

/* CSS de Areas Específicas*/

/*Seção do About US (Estilização e formatação)*/

.sec-aboutus {
    display: flex;
}
.sec-aboutus-esq {
    flex: 1;
    margin-left: 10px;
}
.sec-aboutus-dir {
    width: 520px;
    text-align: center;
}
.sec-aboutus-dir img {
    width: 380px;
    box-shadow: 0px 5px 20px #333;
}
.sec-aboutus-esq p {
    font-size: 14px;
    line-height: 23px;
}

/*Seção do Services (Estilização e formatação)*/

.sec-services {
    display: flex;
}
.sec-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.sec-service:first-child {
    border-left: 1px solid #333;
}
.sec-service h4{
    text-transform: uppercase;
    font-size: 18px;
   
}
.sec-service p {
    font-size: 10px;
    margin-top: 10px;
    line-height: 20px;
    color: #000;
}
.sec-services img {
    margin-bottom: 30px;
}

/*Seção Projects (Formatação e Estilização)*/

/*Área do menu de filtros*/

.sec-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-project-filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 30px;
}
.sec-project-filters ul, .sec-project-filters li {
    list-style: none;
}
.sec-project-filters li a {
    text-decoration: none;
    color: #555;
}

.sec-project-filters li{
    display: inline-block;    
    padding: 10px;
    text-transform: uppercase;
    border-left: 1px solid #ccc;
    cursor: pointer;
}
.sec-project-filters li:hover, .sec-project-filters li.active {
    border-bottom: 3px solid #8CC1C7;
}
.sec-project-filters li:first-child {
    border-left: 0;
}
/*Seção de projetos*/
.section-project-photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-photo {
    width: 280px;
}
.photo-area {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.photo-area img {
    width: inherit;
    height: inherit;
}
.photo-info {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.photo-info h5 {
    font-size: 21;
    font-weight: 600;
    text-transform: uppercase;
}
.photo-info p {
    font-size: 12px;
    text-align: center;
}
.photo-area:hover .photo-info {
    display: flex;
}
/*Seção Contact US*/

.section-contact {
    max-width: 450px;
    margin: auto;
    text-align: center;
}
.section-contact--split {
    display: flex;
}
.section-contact--split input:first-child {
    margin-right: 20px;
}

.section-contact input[type=text], .section-contact textarea {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #ccc;
    outline: 0;
    color: #333;
}
.section-contact textarea {
    height: 100px;
    resize: none;
    font-size: 15px;
}

.section-contact input.button {
    border: transparent;
    cursor: pointer;
}
/*Seção Maps*/

.sec-map {
    /* background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center; */
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #cfcfcf78;
}
.sec-map-area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
}
.sec-map-info {
    width: 50%;
    padding: 30px;
    background-color: #FFF;
    color: #000;
}
.sec-info-item {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}
.sec-info-item-img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.sec-info-item-img img {
    width: 15px;
    height: auto;
}

/*Rodapé do site*/
footer {
    background-color:#fff;
    padding:20px;
}
.footer--area {
    max-width:1140px;
    margin:auto;
    color:#FFF;
    display:flex;
}
.footer--item {
    flex:1;
}
.footer-social {
    display:flex;
}
.footer-social a {
    display:block;
    width:25px;
    height:25px;
    background-color:#8CC1C7;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:13px;
    margin-right:10px;
}
.footer-social a:hover {
    background-color:#8CC1C7;
}
.footer-social img {
    height:10px;
}
.footer--item.area2 {
    color:#999;
    line-height:20px;
    font-size:13px;
    padding:0 10px 10px 10px;
}
.footer--item.area3 form {
    background-color:#333;
    text-align:center;
    padding:30px;
}
.footer--item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
}

/*CSS responsivo! Tablet e Celular*/

/*Tablet*/
@media(min-width:450px) and (max-width:800px){
    /*Menu responsivo*/

    .banner {
        height: calc(100vh - -450px);
        /* background-color: rgba(51, 51, 51, 0.39); */
        background-image:url('../images/tania.jpeg');
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
    }
  nav {
      display: none;
      position: absolute;
      z-index: 99;
      background-color: rgba(0,0,0,0.9);
      width: 70vw;
      height: calc(100vh - 100px);
      top: 100px;
      right: 0;
  }
  
  .banner .slidearea{
      height: auto;
  }
  
  .menu ul {
      flex-direction: column;
  }
  .menu li a {
    font-weight: bold;
    height: 80px;
    font-size: 27px;
    margin-left: 50px;  
    border: 0;
  }
  .menu li.active a {
      border: 0;
      color: #b78b5c;
  }
  .menu-abrido {
      width: 45px;
      margin-right: 30px;
      display: block;
  }
  .logo {
      margin-left: 30px;
  }

  /*Seçao About-Us*/
  .sec-aboutus {
      flex-direction: column;
  }
  .sec-aboutus-esq {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
  }
  .sec-aboutus-dir {
      width: auto;
  }

  /*Seção Services-Responsivo*/
  .sec-services {
      flex-wrap: wrap;
  }
  .sec-service {
      min-width: 50%;
      margin-bottom: 30px;
  }
  .sec-service:first-child {
      border-left: 0;
  }

  /*Seção Maps-Responsivo*/

  .sec-map {
      padding-left: 30px;
      padding-right: 30px;
      width: auto;
     
  }
  .sec-map-area {
      width: auto;
      display: flex;
      flex-direction: column;
  }
  iframe {
    margin-left:0px;
    margin-top: 30px;
    width: auto;
  }
  
  .sec-map-info {
    width: auto;
  }
  .sec-info-item {
      margin-bottom: 20px;
  }
  .sec-info-item:last-child {
      margin-bottom: 0;
  }
  /*footer responsivo*/
  .sec-footer-social .section-team--social {
    margin: 0px;
    /* margin-right: 60px; */
  }
  .banner h1 {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 823px;
}
.sub-title {
    font-size: 13px;
    max-width: 484px;
}

}
.titulo {
    margin-right: 10px;
    color: #8CC1C7;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
}


/*Celular*/

@media(max-width:450px) {

    /*celulares*/
    /*Menu responsivo*/
    .titulo {
        margin-left: 10px;
        color: #8CC1C7;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }
    .banner h1 {
        margin-top: 150px;
    }
    .banner {
        height: calc(100vh - 28px);
        /* background-color: rgba(51, 51, 51, 0.39); */
        background-image:url('../images/tania.jpeg');
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
    }
    iframe {
        margin: 0px;
        width: auto;
    }
      
  nav {
      display: none;
      position: absolute;
      z-index: 99;
      background-color: rgba(0,0,0,0.9);
      width: 80vw;
      height: calc(100vh - 100px);
      top: 100px;
      right: 0;
  }
  .menu ul {
      flex-direction: column;
  }
  .menu li a {
    font-weight: bold;
    height: 60px;
    font-size: 20px;
    margin-left: 30px;  
    border: 0;
  }
  .menu li.active a {
      border: 0;
      color: #b78b5c;
  }
  .menu-abrido {
      width: 45px;
      margin-right: 30px;
      display: block;
  }
  .logo {
      margin-left: 0px;
  }
   /*seção Banner Menu-Responsivo*/
   .banner h1 {
       font-size: 25px;
       margin-top: 307px;
       margin-left: 2px;
   }
   .banner h2 {
       font-size: 13px;
   }
   .sub-title {
  
    font-size: 11px;
    width: initial;
    margin-left: 3px;
}

  /*Seçao About-Us*/
  .sec-aboutus {
      flex-direction: column;
  }
  .sec-aboutus-dir img {
      width: 100%;
  }
  .sec-aboutus-esq {
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
  }
  .sec-aboutus-dir {
      width: auto;
      margin-left: 30px;
      margin-right: 30px;
  }

  /*Seção Services-Responsivo*/
  .sec-services {
      flex-wrap: wrap;
  }
  .sec-service {
      min-width: 100%;
      margin-bottom: 30px;
  }
  .sec-service:first-child {
      border-left: 0;
  }

/*Seção Contato-Responsivo*/
.section-contact--split {
    display: block;
}
.section-contact{
    max-width: 100vw;
    margin-left: 20px;
    margin-right: 20px;
}


  /*Seção Maps-Responsivo*/

  .sec-map {
      padding: 0;
    
      
  }
  .sec-map-area{
      width: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  
  .sec-map-info {
    width: auto;
  }
  .sec-info-item {
      margin-bottom: 20px;
      font-size: 13px;
  }
  .sec-info-item:last-child {
      margin-bottom: 0;
  }
  /*footer responsivo*/
  .footer--area {
    flex-direction:column;
    }
    .footer--item {
    margin-bottom:20px;
    }
    .footer-social {
    justify-content: center;
    }
}